*{
    padding: 0;
    margin: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}

body{
 background: #250057;   
}

.inputbox{
    background: #fff;
    width:90%;
    max-width: 500px;
    border-radius: 5px;
    padding:10px 20px;
    margin:300px auto;
    display: flex;
    align-items: center;
}

.inputbox input{
    width: 100%;
    padding:10px 0;
    border:0;
    outline:0;
    font-size: 24px;
    color:#555;
}

.inputbox input::-ms-reveal,
.inputbox input::-ms-clear {  /* this is used to remove default eye button which is visible only for the first time and missing once we are out of input box :this default eye button is only present in some browser like Edge*/
    display: none;
}

.inputbox img{
    width:35px;
    cursor:pointer;
    margin-left: 10px;
    transition: transform 0.3s;
}